{% extends "core/base.html" %}
{% block content %}
{% load static %}


  <div class="category-title">
      <h1>{{ catlist.cat|title }}</h1>
  </div>
<div class="category-content">
<div class='grid-row'>
  {% for post in catlist.posts %}

  <div class='img-wrap'>
    <a href="{{ post.get_absolute_url }}" class='post-thumbnail'>
      <img src="{{ post.image.url }}" alt="cover pic">
    </a>
    <h2 class='post-title'>
      <a href="{{ post.get_absolute_url }}" class='post-title-link'>
        {{ post.title }}</a>
    </h2>
  </div>

{% endfor %}
</div>
</div>
{% endblock %}




<div class='grid-item'>
  <a href="{{ post.get_absolute_url }}">
    <figure class ='item-image-frame'>
      <img src="{{ post.image.url }}" alt="post image">
    </figure>
  </a>
  <h1>{{ post.title }}</h1>
  </div>